
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 62.5%;
    font-family: $fuentePrincipal;
    
}
p{
    margin: 0;
    font-size: 1.6rem;
    font-weight: $thin;
    text-align: center;
}
.contenedor{
    margin: 0 auto;
    max-width: 120 rem;
    width: 95%;
}

a{
    text-decoration: none;
}
img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 3.6rem;
    margin: 0;
}

h3 {
    font-size: 3rem;
    margin: 0;
}
h1, h2, h3{
    text-align: center;
    font-weight: bold;
}