
//Fuente
$fuentePrincipal : 'Oswald';
$thin : 300;
$regular : 400;
$bold : 700;

//MediaQuery
$telefono: 468px;
$tablet: 768px;
$desktop: 1200px;

//Colores
$Verde : #648c27;
$AmarilloFuerte: #d4d955;
$AmarilloBajito: #F0F2a0;
$Cafe : #a6882d;
$Oscuro: #0d0d0d;
$Claro: #f5f5dc;


