.contenedor-admin {
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;
}

.formulario-admin{
    margin: 2rem auto;
}

.fieldset-admin {

    background-color: $AmarilloBajito;
    padding: 1rem;
    legend {
        font-size: 1.6rem;
    }
    .container{
        display: flex;

        margin-bottom: 1rem;


    
        label {
            font-size: 1.6rem;
            flex: 1;
        }
    
        input {
            font-size: 1.6rem;
            flex: auto;
        }
        select{
            flex: auto;
            font-size: 1.6rem;
        }
        textarea{
            flex: auto;
            font-size: 1.4rem;
        }
    }
}

.button-send{
    margin: 1rem;
    font-size: 1.6rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 1rem;
    background-color: $AmarilloFuerte;
    color: $Oscuro;

    &:hover{
        cursor: pointer;
        transition: 0.3s ease-in;
        background-color: $Verde;
        color: $Claro;
        font-size: 1.8rem;
    }
}

.resultado-admin{
    background-color: $Verde;
    display: block;
    text-align: center;
    padding: 1rem;
    max-width: 60%;
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.tabla-articulos{

    .cabecera{

        th{
            background-color: $Oscuro;
            color: $Claro;
            font-size: 2rem;
            padding: 1rem 2.5rem;
        }
    }
    
    tr{
     padding-top: 1rem;   
    }
    td{
        background-color: $Claro;
        color: $Oscuro;
        font-size: 1.6rem;
        padding: 1rem 2.5rem;
    }

    margin: 0 auto 2rem auto;
}

.boton{
    display: block;
    color: $Oscuro;
    padding: 1rem;
    border: none;
    width: 10rem;
    text-align: center;

    &:hover{
        color: $Claro;
        cursor: pointer;
    }
}

.rojo{
    background-color: red;
    &:hover{
        background-color: rgb(139, 0, 0);
    }
}
.amarillo{
    background-color: $AmarilloFuerte;
    &:hover{
        background-color: rgb(172, 172, 5);
    }
}

.formulario-blog{
    legend{
        font-size: 2.2rem;
    }
    label{
        font-size: 2.6rem;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
    }
    fieldset{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-bottom: 2rem;
        align-items: center;
        background-color: $Claro;

        @include tablet{
           margin-bottom: 1rem;
           flex-direction: row;
           justify-content: space-between;
        }


    }
    input{
        font-size: 2.2rem;
        margin-bottom: 1rem;
        flex: 1;
        margin-right: 2rem;
    }
    textarea{
        width: 100%;
        min-height: 15rem;
        @include tablet{
            min-height: 30rem;
        }
    }
    select{
        font-size: 2rem;
        margin-bottom: 2rem;
        flex: 1;
        margin: 1rem auto;
    }
}