.contenedor-articulo{
    background-color: #c8c8c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .descripcion-articulo{
        font-size: 1.2rem;
        font-weight: 300;
        color: $Oscuro;
        margin-bottom: 1.5rem;
    }
    .titulo-articulo{
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 1rem;
        color: $Oscuro;
        
        &:after{
            border: 1px solid $Oscuro;
        }
    }
    .precio-tienda{
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &:hover{
        background-color: #9e9a9a;
        transition: background-color 0.5s ease-in ;
    }
    
}

.boton-tienda{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $Claro;
    background-color: $Verde;
    padding: 1rem .5rem;
    border-radius: 1rem;

    &:hover{
        background-color: $AmarilloFuerte;
        cursor: pointer;
        color: $Oscuro;
        font-size: 1.7rem;
    }
}