@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import 'base/normalize';
@import 'base/variables';
@import 'base/globales';
@import 'base/mixin';

@import 'layout/header';
@import 'layout/imagenes-main';
@import 'layout/footer';
@import 'layout/contacto';
@import 'layout/galeria';
@import 'layout/blog';
@import 'layout/tienda';
@import 'layout/admin';
@import 'layout/articulo';
@import 'layout/login';